:root{
    --color-primary: #74B3CE;
    --color-secondary: #508991;
    --color-three: #364f6b;
    --color-four: #09BC8A;
    --color-grey: grey;
    --color-lightgrey: lightgrey;
    --color-darkgrey: #202020;
}